:root{
    --purple: #A394FF;
}


html{
    width: 100%;
    margin-bottom: 100px;
    margin-top: 150px;
}

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    user-select: none;
    
}

