.main{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    width: 100vw;
}

.top{
    display: flex;
    gap: 15px;
    width: 100%;
}

.product_info{
    min-width: 300px;
    max-width: 800px;
    width: calc(100vw - 900px);
    justify-self: stretch;
}



.stars{
    position: absolute;
    display: flex;
    gap: 5px;
    margin-top: 20px;
}

.price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #FFF2D8;;
    border-radius: 50%;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    position: relative;
    left: 100%;
    top: -20px;
}