.con{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 600px;
  height: 900px;
}

.main_con{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E8DFFF;
  width: 600px;
  height: 600px;
  max-height: 600px;

}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  width: 600px;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}


.main{
  max-width: 400px;
  max-height: 400px;
  width: auto;
  height: auto;
}

.sec_con{
  display: flex;
  width:  100%;
  height: 33%;
  gap: 20px;


}

.con_of_sec_img{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E8DFFF;
    width: 100%;
    height: 100%;
    transition: 0.2s;
  
}
.sec_con img{
  background: #E8DFFF;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

/*hover*/
.con_of_sec_img:hover{
  scale: 1.02;
}


