.nav{
    background-color: #ffff;
    width: 100%;
    max-height: 150px;
    height: 20dvw;
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid gainsboro;
     z-index: 100000;

    
}


.logo{
    position: relative;
    width: 120px;
    height: 100px;
    transition: 0.2s;
    z-index: 10000;
}


.searcharea{
    position: relative;
    height: 55px;
    width: 40dvw;
    transition: 0.2s;
    padding: 0px 25px 0px 0px;
    z-index: 10000;  
}

.searchbar{
    position: relative;
    width: 100%;
    height: 100%;
    outline-color: none;
    outline: #E9E9E9;
    border: none;
    padding: 0px 0px 0px 25px;
    border-radius: 30px;
    background-color: #E9E9E9;
    z-index: 10000;
    
}

.searcharea span{
    position: absolute;
    right: 0%;
    top: 20%;
    padding-right: 20px;
    z-index: 10000;
}




.usersection{
    width: 170px;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    z-index: 10000;
}

.menu{
    width: 35px;
    height: 35px;
    transition: 0.2s;
    display: none;
    z-index: 10000;
}

.svg{
    width: 35px;
    height: 35px;
    transition: 0.2s;
}



.dropDownContent{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    gap: 40px;
}

.dropDownContent h2{
    padding: 5px;
    transition: 0.2s;
}

.dropDown{
    position: absolute;
    display: flex;
    gap: 10px;
    justify-self: flex-end;
    align-self: flex-start;
    width: 100vw;
    max-width: 600px;
    right: 0px;
    height: 100dvh;
    align-items: flex-start;

}

.searchBarDrop{
    position: absolute;
    display: flex;
    gap: 10px;
    justify-self: flex-end;
    align-self: flex-start;
    width: 100%;
    right: 0px;
    max-height: 150px;
    height: 20dvw;
    min-height: 110px;
    align-items: flex-start;

}

.focusLost{
    display: flex;
    justify-self: flex-start;
    justify-content: center;
    width: 100%;
    height: 101vh;
    min-width: 300px;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    transition: 0.7s;
    top: 0%;
    animation-name: slide;
    animation-duration: 0.7s;
    z-index: 100000;
}

.blackSpace{
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    width: 100%;
    height: 101vh;
    min-width: 300px;
    background-color: white;
    opacity: 1;
    position: absolute;
    transition: 0.7s;
    top: 0%;
    animation-name: slide;
    animation-duration: 0.7s;
    z-index: 1000000000;

}

.blackSpace2{
    border-left: 1px solid gray;
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    width: 100%;
    height: 101vh;
    min-width: 300px;
    background-color: white;
    opacity: 1;
    position: absolute;
    z-index: 100000;
    transition: 0.7s;
    top: 0%;
    animation-name: slide;
    animation-duration: 0.7s;
    animation-direction: reverse;
 
}

.whiteSpace{
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 300px;
    background-color: white;
    opacity: 1;
    position: absolute;
    transition: 0.7s;
    top: 0%;
    animation-name: slide;
    animation-duration: 0.7s;
    z-index: 1000000000;

}

.whiteSpace2{
    border-left: 1px solid gray;
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 300px;
    background-color: white;
    opacity: 1;
    position: absolute;
    z-index: 100000;
    transition: 0.7s;
    top: 0%;
    animation-name: slide;
    animation-duration: 0.7s;
    animation-direction: reverse;
 
}

.searchareaM{
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    height: 55px;
    width: 70dvw;
    transition: 0.2s;
    padding: 0px 25px 0px 0px;
    z-index: 10000;  
    left: 30px;
}

.searchareaM span{
    position: absolute;
    right: 0%;
    padding-right: 35px;
    top: 20%;
    z-index: 10000;
}

/*id section*/

#close{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    top: 15px;
    color: black;
    stroke: black;
}

#openSearch{
    display: none;
}

/*hover section*/

.logo:hover, .svg:hover, .menu:hover{
    transform: scale(1.1);
}

.dropDownContent h2:hover{
    color: var(--purple);
    border-bottom: 2px solid var(--purple);
}

#close:hover{
    stroke: var(--purple);
}

/*media query*/

@media screen and (max-width: 800px) {

 

    .searcharea{
        display: none;
    }




    .menu{
        display: flex;
        width: 25px;
        height: 25px;
    }

    .usersection{
        position: relative;
        display: flex;
        width: 55dvw;
        justify-content: space-evenly;
        gap: 0;

    }

    .svg{
        width: 25px;
        height: 25px;
        size: 25px;
    }

    #openSearch{
        display: flex;
    }


  }


  /*animations*/

  @keyframes slide {
    from{
        transform: translateX(100%);
    }

    to{
        transform: translateX(0%);
    }
}


