.main {
    display: flex;
    margin: 20px;
    gap: 50px;
    height: 300px;
}

.mainImg{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
color: #000;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: lowercase;
}


.img{
    position: relative;
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top_info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.quntite{
    display: flex;
    gap: 5px;
    z-index: 00000;
}

.quntite h2{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.quntite button{
    width: 20px;
    height: 20px;
    border: none;
    background: #A394FF;
    color: #FFF;
    transition: 0.2s;
}


.quntite div{
    display: flex;
    width: 20px;
    height: 20px;
    border: none;
    background: #A394FF;
    color: #FFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}


.quntite button:hover{
    scale: 1.1;
}

.stars{
    position: absolute;
    bottom: 0px;
    display: flex;
    gap: 5px;
}

.price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    position: relative;
    top: 0;
    align-self: flex-end;
}

@media screen and (max-width: 800px) {

    .main{
        scale: 0.8;
        gap: 10px;
        margin: 0px;
        padding: 0;
    }

    .mainImg{
        scale: 0.8;
    }

    .info{
        scale: 0.8;
    }
}
