.main{
    position: relative;
    height: 460px;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
    z-index: 10000;

}

.product{
    height: 460px;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
    z-index: 10000;
    position: relative;
}


.img{
    position: relative;
    height: 400px;
    width: 100%;
}

.img img{
    width: 100%;
    height: 100%;
}

.underImg{
    position: relative;
    height: 60px;
    width: 100%;

}

.stars{
    position: absolute;
    bottom: 0px;
    display: flex;
    gap: 5px;
}

.AjPanier{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: none;
    position: absolute;
    left: 20px;
    bottom: 100px;
    width: 175px;
    height: 45px;
    color: #000;
    z-index: 1000000;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    transition: 0.2s;
}

.title{
color: #000;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: lowercase;
}

.price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    position: absolute;
    right: 0%;
    top: 0px;
}

/*hover*/


.AjPanier:hover{
    scale: 1.1;
}